.Main {
  background-color: #1A1A1D;
  min-height: 850px;
}

.main__button {
  border-radius: 13px;
  min-width: 100px;
  min-height: 50px;
}

.main__button:hover {
  background-color: rgb(141, 95, 25);
}