.Header {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  height: 100px;
  background-color: #5CDB95;
}

.header__title {
  margin: 0, auto;
  text-align: center;
  color: #EDF5E1;
}
